*{
  padding: 0px;
  margin: 0px;
}

.main{
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url("../back.avif");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}



.board{
  background-color:grey;
  width: 100vmin;
  height: 80vmin;  
  border-radius: 3px;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(20,1fr);
  grid-template-columns: repeat(20,1fr);
  gap: 2px;
  padding: 1px;
}


.head{
  background-color: red;
  z-index: 1;
}

.food {
  background-color: green;
} 