*, *::after, *::before {
  font-family: "Jersey 10", sans-serif, cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.main {
  width: 100vw;
  min-height: 100vh; 
  background-color: black;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  gap: 2vmin; 
  padding: 2vmin;
}


.game-header {
  text-align: center;
  width: 100%;
}

.heading {
  font-size: 10vmin;  
  color: white;
  margin-bottom: 1vmin;
}

.score-container {
  display: flex;
  justify-content: space-around; 
  width: 100%;
  font-family: cursive;
  color: white;
  font-size: 5vmin;
}


.board {
  background-color: grey;
  width: 60vmin;
  height: 60vmin;  
  border-radius: 1vmin;          
  border: 0.5vmin solid white;  
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}


.GamePad {
  display: flex;
  justify-content: center;
  gap: 1vmin;
  margin-top: -1vmin; 
}

.gamebuttons {
  width: 10vmin;   
  height: 8vmin;  
  font-size: 5vmin;  
  border-radius: 1vmin;  
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.gamebuttons:active {
  transform: translateY(-5px);
}